{%extends "base.html" %}
{%block content%}
  
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
           <form action="" method="post" enctype = 'multipart/form-data'>
            <div class="form-group">
                <label for="">Enter image</label>
                
                <input type="file" name="image" class="form-control" id="inputGroupFile01">
                <!-- <input type="text" class="form-control" name="image"> -->
              </div>
            <button class="btn btn-primary" type="submit">Submit</button>

           </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% if filename %}
<div class="container">
    <div class="row" style="max-height: 60vh; width: 100%;">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 border border-danger">
            <img id="picture" src="data:image/jpeg;base64,{{ filename }}" style="max-width: 100%;">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p>{{ result }}</p>
        </div>
    </div>
</div>
	
{% endif %}
  
{% endblock %}